<form action="" class="form" #form>

  <label for="marca" class="text-input">Marca
  <input type="text" name="marca" id="marca" [(ngModel)]="carro.marca"/></label>

  <label for="placa" class="text-input">Placa
  <input type="text" name="placa" id="placa" [(ngModel)]="carro.placa"/></label>

  <label for="ano" class="text-input">Ano 
    <input type="number" name="ano" id="ano"  [(ngModel)]="carro.ano" /></label>
    <p [ngStyle]="{'display': erro ? 'flex' : 'none'}" class="erro">* Ano deve ser entre 1990 e {{lastYear}}</p>

    <div class="radio-container">
        <label for="popular" class="radio">
            <input type="radio" id="popular" name="tipo" value="Popular" [(ngModel)]="carro.tipo"/>
            Popular</label>

        <label for="luxo" class="radio">
            <input type="radio" id="luxo" name="tipo" value="Luxo" [(ngModel)]="carro.tipo"/>
            Luxo</label>

        <label for="carga" class="radio">
            <input type="radio" id="carga" name="tipo" value="Carga" [(ngModel)]="carro.tipo"/>
            Carga</label>
    </div>
    <button class="btn" type="button" (click)="save(carro, form)" *ngIf="!this.edit" [disabled]="isEmpty()">Cadastrar</button>
    <div *ngIf="this.edit" class="buttons">
        <button class="btn" type="button" (click)="editCarro(carro, form)" [disabled]="isEmpty()" >Editar</button>
        <button class="btn" type="button" (click)="cancelEdit(form)">Cancelar</button>
    </div>
    
</form>
